<div class="list-group">
    <a href="#" class="list-group-item">Все категории <span class="badge">0</span></a>
    <a href="#" class="list-group-item">Кино <span class="badge">0</span></a>
    <a href="#" class="list-group-item">Книги <span class="badge">0</span></a>
    <a href="#" class="list-group-item">Инструмент <span class="badge">0</span></a>
</div>
